<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="">
    <meta name="keywords" content=" Việt Nam">
    <title>
        Thương mại điện tử Laco

    </title>
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico"
        rel="shortcut icon" />
    <link rel="stylesheet" href="css/bootstrap.css" media="all" />
    <link rel="stylesheet" href="css/general.css" media="all" />
    

    <!-- build:head -->
</head>

<body class="homepage">
    <header class="header has-sticky sticky-jump">
        <section class="header-wrapper clearfix">
            <div class="section advertising-cooperation">
                <div class="container">
                    <div class="tong-dai">
                        Tổng đài: 02422635353 | 0965092353
                    </div>
                    <div class="flex-right">
                        <div class="search-pc">
                            <input type="text" class="search-wrap-input" placeholder="Bạn muốn mua gì">
                            <button type="submit" class="search-box__btn">
                                <svg class="icon-svg">
                                    <use xlink:href="images/icons/icon.svg#search"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="login-user">
                            <a class="login" href="">Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section header-main">
                <div class="container flex">
                    <a href="javascript:;" class="all-menu all-menu-tablet"><span class="hamburger"></span></a>
                    <h1 class="logo"><img src="images/graphics/Laco.png" /></h1>
                    <div class="row service">
                        <div class="col-4 col-inner">
                            <div class="icon"><img src="images/graphics/giao-hang-toan-quoc.png" /></div>
                            <div class="icon-box-text">
                                <h3>Giao hàng Toàn Quốc</h3>
                                <p>Giao hàng Miễn Phí</p>
                            </div>
                        </div>
                        <div class="col-4 col-inner">
                            <div class="icon"><img src="images/graphics/tu-van-mien-phi.png" /></div>
                            <div class="icon-box-text">
                                <h3>0965092353</h3>
                                <p>Hỗ trợ tư vấn 24/7</p>
                            </div>
                        </div>
                        <div class="col-4 col-inner">
                            <div class="icon"><img src="images/graphics/thanh-toan-khi-nhan-hang.png" /></div>
                            <div class="icon-box-text">
                                <h3>Thanh toán dễ dàng</h3>
                                <p>Thanh toán khi nhận hàng</p>
                            </div>
                        </div>
                    </div>
                    <div class="gio-hang">
                        <a href="#" class="cart-link">
                            <span class="cart-title">
                                Giỏ hàng / <span class="cart-price">3</span>
                            </span>
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#cart"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div id="wrap-main-nav" class="section wrap-main-nav">
                <div class="container flex">
                    <nav class="main-nav">
                        <div class="search-pc">
                            <input type="text" class="search-wrap-input" placeholder="Bạn muốn mua gì">
                            <button type="submit" class="search-box__btn">
                                <svg class="icon-svg">
                                    <use xlink:href="images/icons/icon.svg#search"></use>
                                </svg>
                            </button>
                        </div>
                        <ul class="parent">
                            <li class="active">
                                <a href="#" title="">Laco home</a>
                            </li>
                            <li>
                                <a href="#" title="">Sản phẩm chăm sóc da Marosa</a>
                                <span class="sub-icon">+</span>
                                <ul class="level2">
                                    <li>
                                        <a href="">Hãng sản xuất</a>
                                        <span class="sub-icon2">+</span>
                                        <ul class="level3">
                                            <li><a href="">Apple (iPhone)</a></li>
                                            <li><a href="">Samsung</a></li>
                                            <li><a href="">OPPO</a></li>
                                            <li><a href="">Huawei</a></li>
                                            <li><a href="">Xiaomi</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Mức giá</a>
                                        <span class="sub-icon2">+</span>
                                        <ul class="level3">
                                            <li><a href="">Dưới 1 triệu</a></li>
                                            <li><a href="">Từ 1 - 3 triệu</a></li>
                                            <li><a href="">Từ 3 - 6 triệu</a></li>
                                            <li><a href="">Từ 6 - 10 triệu</a></li>
                                            <li><a href="">Từ 10 - 15 triệu</a></li>
                                            <li><a href="">Trên 15 triệu</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" title="">Sản phẩm chăm sóc tóc Amla</a>
                            </li>
                            <li>
                                <a href="#" title="">Sản phẩm làm đẹp Laco Luxury</a>
                            </li>
                            <li>
                                <a href="#" title="">Tin tức</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </header>



    
<section class="container clearfix fixed-height mt20">
    <nav class="steep_booking mb30">
        <div class="steep_booking d-lg-none mb30">
            <a href="" class="current">
                <span>1</span>
                Shopping Cart
          </a>
        </div>
        <div class="d-lg-block d-none">
            <a href="" class="current">
                <span>1</span>
                Shopping Cart
          </a>
          <a href="" class="">
                <span>2</span>
                Checkout details
          </a>
          <a href="" class="">
                <span>3</span>
                Order Complete 
          </a>
        </div>
    </nav>

    <div class="text-center mb40">
        <p class="cart-empty woocommerce-info">Chưa có sản phẩm nào trong giỏ hàng.</p>
        <button type="submit" class="btn-green btn uppercase" style="border-radius: 0;">Quay trở lại cửa hàng</button>
    </div>
    <div class="steep steep1">
        <div style="color:#7a9c59;font-size: 16px;" class="mb20">
            <svg class="icon-svg">
                <use xlink:href="images/icons/icon.svg#checked"></use>
            </svg>
            “Sữa rửa mặt Laco DNA (Laco DNA Face wash)” đã được thêm vào giỏ hàng.
        </div>
        <div class="row">
            <div class="col-lg-7 list-cart mb20">
                <div class="table-responsive table-default">          
                    <table class="table">
                      <thead>
                        <tr>
                          <th colspan="2" style="width:390px">SẢN PHẨM</th>
                          <th>GIÁ</th>
                          <th>SỐ LƯỢNG</th>
                          <th style="width:100px">TẠM TÍNH</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                              <a class="remove">
                                <svg class="icon-svg">
                                    <use xlink:href="images/icons/icon.svg#close2"></use>
                                </svg>
                              </a>
                          </td>  
                          <td style="width:330px">
                              <a href="#" class="san-pham">
                                  <div class="img"><img src="images/graphics/san-pham1.jpg"></div>
                                  <div class="name">Sữa rửa mặt Laco DNA (Laco DNA Face wash)</div>
                              </a>
                          </td>
                          <td><strong>260.000₫</strong></td>
                          <td>
                            <div class="ct_quantity">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn  btn-number" data-type="minus" data-field="">
                                            <svg class="icon-svg">
                                                <use xlink:href="images/icons/icon.svg#Minus"></use>
                                            </svg>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-number" data-type="plus" data-field="">
                                            <svg class="icon-svg">
                                                <use xlink:href="images/icons/icon.svg#Plus"></use>
                                            </svg>
                                        </button>
                                    </span>
                                </div>
                            </div>
                          </td>
                          <td><strong>260.000₫</strong></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <a href="#" class="red-more">Tiếp tục xem sản phẩm →</a>
            </div>
            <div class="col-lg-5 cart-sidebar mb20">
                <div class="table-responsive table-default">          
                    <table class="table">
                      <thead>
                        <tr>
                          <th colspan="2">CỘNG GIỎ HÀNG</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr> 
                          <td>Tạm tính</td>
                          <td class="text-right"><strong>260.000₫</strong></td>
                        </tr>
                        <tr> 
                          <td>Tổng</td>
                          <td class="text-right"><strong>260.000₫</strong></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <button type="submit" class="btn-green btn uppercase" style="width: 100%;border-radius: 0;">Tiến hành thanh toán</button>
                <form class="checkout_coupon mt20">
                    <h3 class="widget-title">
                        <svg class="icon-svg">
                            <use xlink:href="images/icons/icon.svg#tag"></use>
                        </svg>
                         Phiếu ưu đãi
                    </h3>
                    <div class="form-group">
                        <input type="" class="form-control" placeholder="Mã ưu đãi">
                    </div>
                    <button type="button" class="btn btn-default full border">Áp dụng</button>
                </form>
            
            </div>
        </div>
    </div>

    <div class="steep steep2">
        <div class="message-container">
            <p>Bạn có mã ưu đãi? <a href="#" class="showcoupon">Ấn vào đây để nhập mã</a></p>
        </div>
        
        <div class="row">
            <div class="col-lg-7 list-cart mb20">
                
                <form class="form-default" style="padding-top: 15px;border-top: 2px solid #ddd;">
                    <h2 class="mb15">THÔNG TIN THANH TOÁN</h2>
                    <div class="form-group">
                        <label for="">Họ và tên:</label>
                        <input type="" class="form-control" value="Trần Minh ">
                    </div>
                    <div class="form-group">
                        <label for="">Số điện thoại:</label>
                        <input type="" class="form-control" value="Trần Minh ">
                    </div>
                    <div class="form-group">
                        <label for="">Email:</label>
                        <input type="" class="form-control" value="quang.tran@microup.vn">
                    </div>
                    <div class="form-group">
                        <label for="">Địa chỉ:</label>
                        <input type="" class="form-control" value="2A Lê Phụng Hiểu - Hoàn Kiếm - Hà nội">
                    </div>
                    <h2 class="mb15 mt30">THÔNG TIN BỔ SUNG</h2>
                    <div class="form-group">
                        <label for="">Ghi chú đơn hàng:</label>
                        <textarea style="height: 100px;" type="text" class="form-control" placeholder="Ghi chú về đơn hàng, ví dụ: thời gian hay chỉ dẫn địa điểm giao hàng chi tiết hơn."></textarea>
                    </div>
                </form>
            </div>
            <div class="col-lg-5 cart-sidebar mb20">
                <div style="border:2px solid #86b732;padding:15px 20px">
                    <h2>ĐƠN HÀNG CỦA BẠN</h2>
                    <div class="table-responsive table-default">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>SẢN PHẨM</th>
                              <th class="text-right">TẠM TÍNH</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr> 
                              <td>Sữa rửa mặt Laco DNA (Laco DNA Face wash)  <Strong>× 1</Strong></td>
                              <td class="text-right"><strong>260.000₫</strong></td>
                            </tr>
                            <tr> 
                              <td>Tạm tính</td>
                              <td class="text-right"><strong>260.000₫</strong></td>
                            </tr>
                            <tr> 
                              <td>Tổng</td>
                              <td class="text-right"><strong>260.000₫</strong></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <p class="txt_14">
                        <strong style="color: #222;">Trả tiền mặt khi nhận hàng & MIỄN PHÍ vận chuyển</strong></br>
                        Miễn Phí vận chuyển toàn bộ đơn hàng!!!
                    </p>
                    <button type="submit" class="btn-green btn uppercase" style="border-radius: 0;">ĐẶT HÀNG</button>
                </div>
            </div>
        </div>
    </div>

    <div class="steep steep3">
        <div class="message-container">
            <p>Bạn được kiểm tra hàng trước khi thanh toán cho bưu tá!!!</p>
        </div>
        
        <div class="row">
            <div class="col-lg-7 list-cart mb20">
                <h2 class="mb15 bold" style="font-size: 25px;">Chi tiết đơn hàng</h2>
                <div class="table-responsive table-default">          
                    <table class="table">
                      <thead>
                        <tr>
                          <th>SẢN PHẨM</th>
                          <th class="text-right">TỔNG</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr> 
                          <td>Sữa rửa mặt Laco DNA (Laco DNA Face wash)  <strong>× 1</strong></td>
                          <td class="text-right"><strong>260.000₫</strong></td>
                        </tr>
                        <tr> 
                          <td>Tạm tính</td>
                          <td class="text-right"><strong>260.000₫</strong></td>
                        </tr>
                        <tr> 
                          <td>Tổng</td>
                          <td class="text-right"><strong>260.000₫</strong></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-5 cart-sidebar mb20">
                <div style="padding:15px 20px;background-color: rgba(0,0,0,0.02);box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2), 0 1px 0 rgba(0,0,0,0.07), inset 0 0 0 1px rgba(0,0,0,0.05);">
                    <h3 class="txt_18 bold mb15" style="color:#7a9c59;font-weight: bold;">Cảm ơn bạn. Đơn hàng của bạn đã được nhận.</h3>
                    <div class="ul-default" style="color: #777;font-size: 16px;">
                        <ul>
                            <li>Mã đơn hàng: <strong>4962</strong></li>
                            <li>Ngày: <strong>27 Tháng Mười Hai, 2020</strong></li>
                            <li>Tổng cộng: <strong>260.000₫</strong></li>
                            <li>Phương thức thanh toán: <strong>Trả tiền mặt khi nhận hàng & MIỄN PHÍ vận chuyển</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>





    <!--Footer-->
    <footer class="footer clearfix">
        <div class="container">
            <div class="widget-title"><span>Mỹ phẩm Hữu Cơ Laco</span></div>
            <div class="text-center mb30">
                <img src="images/graphics/logo-white.png">
            </div>
            <div class="text-center mb30">
                Sản phẩm mỹ phẩm của Laco được sản xuất 100% tại Việt Nam, với các nhà máy đạt tiêu chuẩn sản
                xuất mỹ phẩm được sở y tế cấp phép. Toàn bộ sản phẩm đều hướng đến thiên nhiên, an toàn hiệu quả cho
                người sử dụng và đã được sở y tế cấp phép lưu hành trước khi đưa ra thị trường.Website bán hàng
                CHÍNH HÃNG và DUY NHẤT các sản phẩm của Laco được vận hành bởi team Laco.vn<br>
                Chịu trách nhiệm nội dung: GDKD Nguyễn Thị Thanh Hương<br>
                Điện thoại: 02422635353 / 0965092353<br>
                Địa chỉ kho hàng: Tòa B6A KĐT Nam Trung Yên, Cầu Giấy, Hà Nội<br>
                Liên kết nhanh: <a href="https://laco.vn/san-pham/may-rua-mat-laco-luxury/">Máy rửa mặt laco
                    luxury</a>
            </div>
        </div>
        <div class="don-vi">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb20">
                        <div class="widget-title"><span>ĐƠN VỊ CHỦ QUẢN LACO.VN</span></div>
                        <div class="textwidget">
                            <p></p>
                            <center>CÔNG TY TNHH SIÊU THẢO DƯỢC</center>
                            <p></p>
                            <p></p>
                            <center>Mã số doanh nghiệp: 2601022530<br>
                                Đăng ký lần đầu ngày 14 tháng 1 năm 2019<br>
                                Trụ sở chính: Khu 1, Xã Yên Kỳ, Huyện Hạ Hòa, Tỉnh Phú Thọ, Việt Nam<br>
                                Email: sieuthaoduocltd@gmail.com</center>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-4 mb20">
                        <div class="widget-title"><span>ĐƠN VỊ CHỊU TRÁCH NHIỆM SẢN PHẨM</span></div>
                        <div class="textwidget">
                            <p></p>
                            <center>CÔNG TY CỔ PHẦN QUỐC TẾ LACO</center>
                            <p></p>
                            Mã số doanh nghiệp: 010774580029<p></p>
                            <p>Đăng ký lần đầu ngày 14 tháng 3 năm 2017</p>
                            <p>Số 14 khu GĐ Văn công Quân Đội, phố Mai Dịch, Phường Mai Dịch, Quận Cầu Giấy, Thành Phố
                                Hà Nội, Việt Nam</p>
                            <p class="text-center"><a href="" target="_blank" rel="noopener"><img class="aligncenter "
                                        src="https://laco.vn/wp-content/uploads/2020/07/logoSaleNoti.png" alt=""
                                        width="200" height="76"></a></p>
                        </div>
                    </div>
                    <div class="col-md-4 mb20">
                        <div class="widget-title"><span>THÔNG TIN HỮU ÍCH</span></div>
                        <ul class="menu">
                            <li class="menu-item"><a href="">Hướng dẫn mua hàng và vận chuyển</a></li>
                            <li class="menu-item"><a href="">Hướng dẫn thanh toán</a></li>
                            <li class="menu-item"><a href="">Chính sách đổi trả hàng</a></li>
                            <li class="menu-item"><a href="">Cam kết bán hàng</a></li>
                            <li class="menu-item"><a href="">Chính sách bảo mật thông tin</a></li>
                            <li class="menu-item"><a href="">Điều khoản</a></li>
                            <li class="menu-item"><a href="">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                Copyright 2020 © <strong>LACO.VN</strong>
            </div>
        </div>

    </footer>
    <!--End Footer-->


    <!--Back to top-->
    <a href="javascript:;" id="to_top">
        <svg class="icon-svg">
            <use xlink:href="images/icons/icon.svg#arrow01"></use>
        </svg>
    </a>
    <div class="mask-content"> </div>
    <div class="close-show">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </div>
    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/svgxuse.js"></script>
    <script type="text/javascript" src="js/css-vars-ponyfill.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    


    <div class="clearfix"></div>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 350) {
                $('.has-sticky').addClass('down');
            } else {
                $('.has-sticky').removeClass('down');
            }
        });
        $(document).ready(function(){
            var quantitiy=0;
            $('.quantity-right-plus').click(function(e){
                    e.preventDefault();
                    var quantity = parseInt($('#quantity').val());
                    $('#quantity').val(quantity + 1);
                    
                });
                $('.quantity-left-minus').click(function(e){
                    e.preventDefault();
                    var quantity = parseInt($('#quantity').val());
                        if(quantity>0){
                        $('#quantity').val(quantity - 1);
                }
            });
    
        });
    </script>
</body>

</html>