<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="">
    <meta name="keywords" content=" Việt Nam">
    <title>
        Thương mại điện tử Laco

    </title>
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico"
        rel="shortcut icon" />
    <link rel="stylesheet" href="css/bootstrap.css" media="all" />
    <link rel="stylesheet" href="css/general.css" media="all" />
    


    <!-- build:head -->
</head>

<body class="homepage">
    <header class="header has-sticky sticky-jump">
        <section class="header-wrapper clearfix">
            <div class="section advertising-cooperation">
                <div class="container">
                    <div class="tong-dai">
                        Tổng đài: 02422635353 | 0965092353
                    </div>
                    <div class="flex-right">
                        <div class="search-pc">
                            <input type="text" class="search-wrap-input" placeholder="Bạn muốn mua gì">
                            <button type="submit" class="search-box__btn">
                                <svg class="icon-svg">
                                    <use xlink:href="images/icons/icon.svg#search"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="login-user">
                            <a class="login" href="">Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section header-main">
                <div class="container flex">
                    <a href="javascript:;" class="all-menu all-menu-tablet"><span class="hamburger"></span></a>
                    <h1 class="logo"><img src="images/graphics/Laco.png" /></h1>
                    <div class="row service">
                        <div class="col-4 col-inner">
                            <div class="icon"><img src="images/graphics/giao-hang-toan-quoc.png" /></div>
                            <div class="icon-box-text">
                                <h3>Giao hàng Toàn Quốc</h3>
                                <p>Giao hàng Miễn Phí</p>
                            </div>
                        </div>
                        <div class="col-4 col-inner">
                            <div class="icon"><img src="images/graphics/tu-van-mien-phi.png" /></div>
                            <div class="icon-box-text">
                                <h3>0965092353</h3>
                                <p>Hỗ trợ tư vấn 24/7</p>
                            </div>
                        </div>
                        <div class="col-4 col-inner">
                            <div class="icon"><img src="images/graphics/thanh-toan-khi-nhan-hang.png" /></div>
                            <div class="icon-box-text">
                                <h3>Thanh toán dễ dàng</h3>
                                <p>Thanh toán khi nhận hàng</p>
                            </div>
                        </div>
                    </div>
                    <div class="gio-hang">
                        <a href="#" class="cart-link">
                            <span class="cart-title">
                                Giỏ hàng / <span class="cart-price">3</span>
                            </span>
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#cart"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div id="wrap-main-nav" class="section wrap-main-nav">
                <div class="container flex">
                    <nav class="main-nav">
                        <div class="search-pc">
                            <input type="text" class="search-wrap-input" placeholder="Bạn muốn mua gì">
                            <button type="submit" class="search-box__btn">
                                <svg class="icon-svg">
                                    <use xlink:href="images/icons/icon.svg#search"></use>
                                </svg>
                            </button>
                        </div>
                        <ul class="parent">
                            <li class="active">
                                <a href="#" title="">Laco home</a>
                            </li>
                            <li>
                                <a href="#" title="">Sản phẩm chăm sóc da Marosa</a>
                                <span class="sub-icon">+</span>
                                <ul class="level2">
                                    <li>
                                        <a href="">Hãng sản xuất</a>
                                        <span class="sub-icon2">+</span>
                                        <ul class="level3">
                                            <li><a href="">Apple (iPhone)</a></li>
                                            <li><a href="">Samsung</a></li>
                                            <li><a href="">OPPO</a></li>
                                            <li><a href="">Huawei</a></li>
                                            <li><a href="">Xiaomi</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Mức giá</a>
                                        <span class="sub-icon2">+</span>
                                        <ul class="level3">
                                            <li><a href="">Dưới 1 triệu</a></li>
                                            <li><a href="">Từ 1 - 3 triệu</a></li>
                                            <li><a href="">Từ 3 - 6 triệu</a></li>
                                            <li><a href="">Từ 6 - 10 triệu</a></li>
                                            <li><a href="">Từ 10 - 15 triệu</a></li>
                                            <li><a href="">Trên 15 triệu</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" title="">Sản phẩm chăm sóc tóc Amla</a>
                            </li>
                            <li>
                                <a href="#" title="">Sản phẩm làm đẹp Laco Luxury</a>
                            </li>
                            <li>
                                <a href="#" title="">Tin tức</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </header>



    
<section class="section-banner-home clearfix fixed-height mb24">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide thumb">
                <img src="images/graphics/banner.jpg">
            </div>
            <div class="swiper-slide thumb">
                <img src="images/graphics/banner2.jpg">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>

<section class="section-info clearfix mb24">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 text-center">
                <div class="title-main">
                    <b></b>
                    <span>LACO LÀ LÁ CỎ</span>
                    <b></b>
                </div>
                <p>Từ những nguyên liệu tự nhiên xanh, sạch và bằng tình yêu thiên nhiên vô điều kiện, Laco mang đến
                    những sản phẩm chuẩn hữu cơ để đáp ứng nhu cầu làm đẹp lớn của phái đẹp đồng thời hứa hẹn sẽ mang
                    đến cho các nàng những sản phẩm an toàn và chất lượng nhất, vươn tầm quốc tế.</p>
            </div>
            <div class="col-sm-2 text-center">
                <img src="images/graphics/thumb_1x1.jpg">
            </div>
        </div>
    </div>
</section>

<!--  Phần thân -->
<section class="container clearfix">
    <div class="title-main">
        <b></b>
        <span>SẢN PHẨM CHĂM SÓC DA MAROSA & LÀM ĐẸP
        </span>
        <b></b>
    </div>
    <div class="list-product">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small has-hover">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img class="show-on-hover back-image" src="images/graphics/san-pham2.jpg">
                            <img src="images/graphics/san-pham1.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham2.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham3.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham4.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small has-hover">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img class="show-on-hover back-image" src="images/graphics/san-pham2.jpg">
                            <img src="images/graphics/san-pham1.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham2.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham3.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham4.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small has-hover">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img class="show-on-hover back-image" src="images/graphics/san-pham2.jpg">
                            <img src="images/graphics/san-pham1.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham2.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham3.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham4.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small has-hover">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img class="show-on-hover back-image" src="images/graphics/san-pham2.jpg">
                            <img src="images/graphics/san-pham1.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham2.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham3.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham4.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="title-main">
                <b></b>
                <span>MÁY RỬA MẶT LACO</span>
                <b></b>
            </div>

            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small has-hover">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img class="show-on-hover back-image" src="images/graphics/san-pham2.jpg">
                            <img src="images/graphics/san-pham1.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham2.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham3.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham4.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham4.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham4.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small has-hover">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img class="show-on-hover back-image" src="images/graphics/san-pham2.jpg">
                            <img src="images/graphics/san-pham1.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham2.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="title-main">
                <b></b>
                <span>SẢN PHẨM CHĂM SÓC SỨC KHỎE</span>
                <b></b>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small has-hover">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img class="show-on-hover back-image" src="images/graphics/san-pham2.jpg">
                            <img src="images/graphics/san-pham1.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham2.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham3.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham4.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small has-hover">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img class="show-on-hover back-image" src="images/graphics/san-pham2.jpg">
                            <img src="images/graphics/san-pham1.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham2.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                        <div class="code">Quà tặng 600K</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham3.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <div class="product-small">
                    <div class="gift-sale">
                        <div class="sale">-5%</div>
                    </div>
                    <div class="box-image">
                        <a href="#">
                            <img src="images/graphics/san-pham4.jpg">
                        </a>
                    </div>
                    <div class="box-text">
                        <h3><a href="">DNA Toner – Toner Dưỡng Da Laco</a></h3>
                        <div class="price">
                            <div class="old">480.000 đ</div>
                            <div class="new">350.000₫</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="section-customer clearfix mb24">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide thumb">
                <img src="images/graphics/banner-ngang.jpg">
                <div class="box-text">
                    <div class="wrap">
                        <div class="star-rating">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#star-full"></use>
                            </svg>
                        </div>
                        <p>Thật sự Linh rất vui khi đã tìm được bộ dầu Gội Amla để giúp tóc bớt
                            rụng, thậm chí chúng còn mọc
                            trở lại khá nhanh khiến Linh rất hài lòng. Một điều Linh thích nữa là
                            mùi hương thảo dược của
                            Amla rất dễ chịu và sảng khoái. Linh sẽ tiếp tục sử dụng và giới thiệu
                            rộng rãi bộ sản phẩm này
                            cho bạn bè và đồng nghiệp.</p>
                        <div class="testimonial-meta pt-half">
                            <strong class="testimonial-name test_name">Quyền Linh</strong>
                            <span class="testimonial-name-divider"> / </span> <span
                                class="testimonial-company test_company">Nghệ sĩ:</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide thumb">
                <img src="images/graphics/banner-ngang.jpg">
                <div class="box-text">
                    <div class="wrap">
                        <div class="star-rating">
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#star-full"></use>
                            </svg>
                        </div>
                        <p>Thật sự Linh rất vui khi đã tìm được bộ dầu Gội Amla để giúp tóc bớt
                            rụng, thậm chí chúng còn mọc
                            trở lại khá nhanh khiến Linh rất hài lòng. Một điều Linh thích nữa là
                            mùi hương thảo dược của
                            Amla rất dễ chịu và sảng khoái. Linh sẽ tiếp tục sử dụng và giới thiệu
                            rộng rãi bộ sản phẩm này
                            cho bạn bè và đồng nghiệp.</p>
                        <div class="testimonial-meta pt-half">
                            <strong class="testimonial-name test_name">Quyền Linh</strong>
                            <span class="testimonial-name-divider"> / </span> <span
                                class="testimonial-company test_company">Nghệ sĩ:</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-next">
            <svg class="flickity-button-icon" viewBox="0 0 100 100">
                <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"
                    transform="translate(100, 100) rotate(180) "></path>
            </svg>
        </div>
        <div class="swiper-button-prev">
            <svg class="flickity-button-icon" viewBox="0 0 100 100">
                <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>
            </svg>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    </div>
</section>

<section class="container clearfix mb24">
    <div class="title-main">
        <b></b>
        <span>Thông tin hữu ích
        </span>
        <b></b>
    </div>
    <div class="list-article_item">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb20">
                <a class="article_item" href="#" title="aa">
                    <div class="badge-inner">
                        <div class="date">08</div>
                        <div>12</div>
                    </div>
                    <div class="box-image">
                        <span class="thumb thumb_5x4">
                            <img src="images/graphics/thumb_5x5.jpg">
                        </span>
                    </div>
                    <div class="box-text">
                        <h3 class="title_new">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</h3>
                        <p>Công việc và gia đình là hai yếu tố quan trọng của một gia đình[...] </p>
                        <span class="red-more">Đọc tiếp</span>
                    </div>

                </a>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <a class="article_item" href="#" title="aa">
                    <div class="badge-inner">
                        <div class="date">08</div>
                        <div>12</div>
                    </div>
                    <div class="box-image">
                        <span class="thumb thumb_5x4">
                            <img src="images/graphics/thumb_5x5.jpg">
                        </span>
                    </div>
                    <div class="box-text">
                        <h3 class="title_new">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</h3>
                        <p>Công việc và gia đình là hai yếu tố quan trọng của một gia đình[...] </p>
                        <span class="red-more">Đọc tiếp</span>
                    </div>

                </a>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <a class="article_item" href="#" title="aa">
                    <div class="badge-inner">
                        <div class="date">08</div>
                        <div>12</div>
                    </div>
                    <div class="box-image">
                        <span class="thumb thumb_5x4">
                            <img src="images/graphics/thumb_5x5.jpg">
                        </span>
                    </div>
                    <div class="box-text">
                        <h3 class="title_new">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</h3>
                        <p>Công việc và gia đình là hai yếu tố quan trọng của một gia đình[...] </p>
                        <span class="red-more">Đọc tiếp</span>
                    </div>

                </a>
            </div>
            <div class="col-lg-3 col-sm-6 mb20">
                <a class="article_item" href="#" title="aa">
                    <div class="badge-inner">
                        <div class="date">08</div>
                        <div>12</div>
                    </div>
                    <div class="box-image">
                        <span class="thumb thumb_5x4">
                            <img src="images/graphics/thumb_5x5.jpg">
                        </span>
                    </div>
                    <div class="box-text">
                        <h3 class="title_new">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</h3>
                        <p>Công việc và gia đình là hai yếu tố quan trọng của một gia đình[...] </p>
                        <span class="red-more">Đọc tiếp</span>
                    </div>

                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mb20">
            <div class="bg-uyendung">
                <div class="box-text">
                    <div class="wrap">
                        <h3>
                            TUYỂN SỈ, ĐẠI LÝ LACO
                            TOÀN QUỐC</h3>
                        <p>(Hỗ trợ đơn hàng từ 3 triệu)</p>
                        <a class="view" href="#">XEM CHI TIẾT</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb20">
            <div class="img-inner">
                <img src="images/graphics/bang-gia-ban-buon-my-pham-laco-moc-3-trieu.jpg">
            </div>
        </div>
    </div>

</section>



    <!--Footer-->
    <footer class="footer clearfix">
        <div class="container">
            <div class="widget-title"><span>Mỹ phẩm Hữu Cơ Laco</span></div>
            <div class="text-center mb30">
                <img src="images/graphics/logo-white.png">
            </div>
            <div class="text-center mb30">
                Sản phẩm mỹ phẩm của Laco được sản xuất 100% tại Việt Nam, với các nhà máy đạt tiêu chuẩn sản
                xuất mỹ phẩm được sở y tế cấp phép. Toàn bộ sản phẩm đều hướng đến thiên nhiên, an toàn hiệu quả cho
                người sử dụng và đã được sở y tế cấp phép lưu hành trước khi đưa ra thị trường.Website bán hàng
                CHÍNH HÃNG và DUY NHẤT các sản phẩm của Laco được vận hành bởi team Laco.vn<br>
                Chịu trách nhiệm nội dung: GDKD Nguyễn Thị Thanh Hương<br>
                Điện thoại: 02422635353 / 0965092353<br>
                Địa chỉ kho hàng: Tòa B6A KĐT Nam Trung Yên, Cầu Giấy, Hà Nội<br>
                Liên kết nhanh: <a href="https://laco.vn/san-pham/may-rua-mat-laco-luxury/">Máy rửa mặt laco
                    luxury</a>
            </div>
        </div>
        <div class="don-vi">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb20">
                        <div class="widget-title"><span>ĐƠN VỊ CHỦ QUẢN LACO.VN</span></div>
                        <div class="textwidget">
                            <p></p>
                            <center>CÔNG TY TNHH SIÊU THẢO DƯỢC</center>
                            <p></p>
                            <p></p>
                            <center>Mã số doanh nghiệp: 2601022530<br>
                                Đăng ký lần đầu ngày 14 tháng 1 năm 2019<br>
                                Trụ sở chính: Khu 1, Xã Yên Kỳ, Huyện Hạ Hòa, Tỉnh Phú Thọ, Việt Nam<br>
                                Email: sieuthaoduocltd@gmail.com</center>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-4 mb20">
                        <div class="widget-title"><span>ĐƠN VỊ CHỊU TRÁCH NHIỆM SẢN PHẨM</span></div>
                        <div class="textwidget">
                            <p></p>
                            <center>CÔNG TY CỔ PHẦN QUỐC TẾ LACO</center>
                            <p></p>
                            Mã số doanh nghiệp: 010774580029<p></p>
                            <p>Đăng ký lần đầu ngày 14 tháng 3 năm 2017</p>
                            <p>Số 14 khu GĐ Văn công Quân Đội, phố Mai Dịch, Phường Mai Dịch, Quận Cầu Giấy, Thành Phố
                                Hà Nội, Việt Nam</p>
                            <p class="text-center"><a href="" target="_blank" rel="noopener"><img class="aligncenter "
                                        src="https://laco.vn/wp-content/uploads/2020/07/logoSaleNoti.png" alt=""
                                        width="200" height="76"></a></p>
                        </div>
                    </div>
                    <div class="col-md-4 mb20">
                        <div class="widget-title"><span>THÔNG TIN HỮU ÍCH</span></div>
                        <ul class="menu">
                            <li class="menu-item"><a href="">Hướng dẫn mua hàng và vận chuyển</a></li>
                            <li class="menu-item"><a href="">Hướng dẫn thanh toán</a></li>
                            <li class="menu-item"><a href="">Chính sách đổi trả hàng</a></li>
                            <li class="menu-item"><a href="">Cam kết bán hàng</a></li>
                            <li class="menu-item"><a href="">Chính sách bảo mật thông tin</a></li>
                            <li class="menu-item"><a href="">Điều khoản</a></li>
                            <li class="menu-item"><a href="">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                Copyright 2020 © <strong>LACO.VN</strong>
            </div>
        </div>

    </footer>
    <!--End Footer-->


    <!--Back to top-->
    <a href="javascript:;" id="to_top">
        <svg class="icon-svg">
            <use xlink:href="images/icons/icon.svg#arrow01"></use>
        </svg>
    </a>
    <div class="mask-content"> </div>
    <div class="close-show">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </div>
    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/svgxuse.js"></script>
    <script type="text/javascript" src="js/css-vars-ponyfill.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    

    <div class="clearfix"></div>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 350) {
                $('.has-sticky').addClass('down');
            } else {
                $('.has-sticky').removeClass('down');
            }
        });
        $(document).ready(function(){
            var quantitiy=0;
            $('.quantity-right-plus').click(function(e){
                    e.preventDefault();
                    var quantity = parseInt($('#quantity').val());
                    $('#quantity').val(quantity + 1);
                    
                });
                $('.quantity-left-minus').click(function(e){
                    e.preventDefault();
                    var quantity = parseInt($('#quantity').val());
                        if(quantity>0){
                        $('#quantity').val(quantity - 1);
                }
            });
    
        });
    </script>
</body>

</html>