<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="">
    <meta name="keywords" content=" Việt Nam">
    <title>
        Thương mại điện tử Laco

    </title>
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico"
        rel="shortcut icon" />
    <link rel="stylesheet" href="css/bootstrap.css" media="all" />
    <link rel="stylesheet" href="css/general.css" media="all" />
    
<link type="text/css" rel="stylesheet" href="css/new.css" />

    <!-- build:head -->
</head>

<body class="homepage">
    <header class="header has-sticky sticky-jump">
        <section class="header-wrapper clearfix">
            <div class="section advertising-cooperation">
                <div class="container">
                    <div class="tong-dai">
                        Tổng đài: 02422635353 | 0965092353
                    </div>
                    <div class="flex-right">
                        <div class="search-pc">
                            <input type="text" class="search-wrap-input" placeholder="Bạn muốn mua gì">
                            <button type="submit" class="search-box__btn">
                                <svg class="icon-svg">
                                    <use xlink:href="images/icons/icon.svg#search"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="login-user">
                            <a class="login" href="">Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section header-main">
                <div class="container flex">
                    <a href="javascript:;" class="all-menu all-menu-tablet"><span class="hamburger"></span></a>
                    <h1 class="logo"><img src="images/graphics/Laco.png" /></h1>
                    <div class="row service">
                        <div class="col-4 col-inner">
                            <div class="icon"><img src="images/graphics/giao-hang-toan-quoc.png" /></div>
                            <div class="icon-box-text">
                                <h3>Giao hàng Toàn Quốc</h3>
                                <p>Giao hàng Miễn Phí</p>
                            </div>
                        </div>
                        <div class="col-4 col-inner">
                            <div class="icon"><img src="images/graphics/tu-van-mien-phi.png" /></div>
                            <div class="icon-box-text">
                                <h3>0965092353</h3>
                                <p>Hỗ trợ tư vấn 24/7</p>
                            </div>
                        </div>
                        <div class="col-4 col-inner">
                            <div class="icon"><img src="images/graphics/thanh-toan-khi-nhan-hang.png" /></div>
                            <div class="icon-box-text">
                                <h3>Thanh toán dễ dàng</h3>
                                <p>Thanh toán khi nhận hàng</p>
                            </div>
                        </div>
                    </div>
                    <div class="gio-hang">
                        <a href="#" class="cart-link">
                            <span class="cart-title">
                                Giỏ hàng / <span class="cart-price">3</span>
                            </span>
                            <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#cart"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div id="wrap-main-nav" class="section wrap-main-nav">
                <div class="container flex">
                    <nav class="main-nav">
                        <div class="search-pc">
                            <input type="text" class="search-wrap-input" placeholder="Bạn muốn mua gì">
                            <button type="submit" class="search-box__btn">
                                <svg class="icon-svg">
                                    <use xlink:href="images/icons/icon.svg#search"></use>
                                </svg>
                            </button>
                        </div>
                        <ul class="parent">
                            <li class="active">
                                <a href="#" title="">Laco home</a>
                            </li>
                            <li>
                                <a href="#" title="">Sản phẩm chăm sóc da Marosa</a>
                                <span class="sub-icon">+</span>
                                <ul class="level2">
                                    <li>
                                        <a href="">Hãng sản xuất</a>
                                        <span class="sub-icon2">+</span>
                                        <ul class="level3">
                                            <li><a href="">Apple (iPhone)</a></li>
                                            <li><a href="">Samsung</a></li>
                                            <li><a href="">OPPO</a></li>
                                            <li><a href="">Huawei</a></li>
                                            <li><a href="">Xiaomi</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Mức giá</a>
                                        <span class="sub-icon2">+</span>
                                        <ul class="level3">
                                            <li><a href="">Dưới 1 triệu</a></li>
                                            <li><a href="">Từ 1 - 3 triệu</a></li>
                                            <li><a href="">Từ 3 - 6 triệu</a></li>
                                            <li><a href="">Từ 6 - 10 triệu</a></li>
                                            <li><a href="">Từ 10 - 15 triệu</a></li>
                                            <li><a href="">Trên 15 triệu</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" title="">Sản phẩm chăm sóc tóc Amla</a>
                            </li>
                            <li>
                                <a href="#" title="">Sản phẩm làm đẹp Laco Luxury</a>
                            </li>
                            <li>
                                <a href="#" title="">Tin tức</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </header>



    
<section class="container clearfix fixed-height mt20">
    <div class="row">
        <div class="col-lg-9 mb30 detail_tin">
            <div class="list-article_item">
                <div class="article_item big">
                    <div class="tag">TIN TỨC</div>
                    <h3 class="title_new">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</h3>
                    <div class="note">POSTED ON 15 THÁNG TÁM, 2020 BY MỸ PHẨM HỮU CƠ LACO</div>
                    <div class="box-image">
                        <span class="thumb thumb_5x4">
                            <img src="images/graphics/new1.jpg">
                        </span>
                    </div>
                    <div class="box-text">
                        <p>Có lẽ hàng nghìn chị em phụ nữ đang cùng chung tâm rạng hồi hộp và háo hức khi cùng chờ đợi một trong những sự kiện đình đám trong ngành làm đẹp trong vài ngày tới: Ra mắt sản phẩm máy rửa mặt Lacco Luxury. Chiếc máy được các chuyên gia chăm sóc sắc[…]</p>
                    </div>
                </div>
            </div>
            <p><h2 class="medium">Chế độ bảo hành</h2></p>
            <p><strong>Laco bảo hành 1 đổi 1 trong vòng 6 tháng kể từ ngày mua với các lỗi do nhà sản xuất</strong></p>
            <p>Lưu ý: Phiên bản máy rửa mặt Laco Luxury sẽ được bảo hành 12 tháng</p>
            <p><strong>1.Điều kiện bảo hành:</strong> – Vỏ hộp còn nguyên, đầy đủ phụ kiện, tem nhãn – Máy không bị rách, cháy, móp méo do va đập – Thời hạn bảo hành: 6 tháng kể từ ngày mua – Chi phí gửi hàng bảo hành: khách tự đến gửi bảo hành hoặc gửi chuyển phát, chi phí chuyển phát 2 chiều do khách chi trả. </p>
            <p><strong>2. Địa chỉ bảo hành:</strong> Khách mua máy rửa mặt chính hãng Laco ở đâu liên hệ bảo hành ở đấy. Chi phí gửi hàng bảo hành: khách tự đến gửi bảo hành hoặc gửi chuyển phát về nơi mua trực tiếp, chi phí chuyển phát 2 chiều do khách chi trả.</p>
            <p><Strong>3. Đại lý bán hàng có trách nhiệm</Strong> – Kiểm tra máy ngay khi nhận hàng hoặc trước khi gửi cho khách lẻ. – Lưu thông tin khách hàng mua sỉ và lẻ: họ tên + ngày mua hàng để tiếp nhận bảo hành trong 6 tháng từ ngày mua, quá thời hạn không tiếp nhận bảo hành – Kiểm tra máy khi khách gửi về bảo hành: + Kiểm tra lỗi dây sạc: cách cắm sạc, thử thay dây sạc khác, dây sạc dự phòng công ty cấp + Nếu không phải do lỗi dây sạc: gửi máy về nơi đã nhập hàng trực tiếp hoặc các đầu tổng phân phối của đội nhóm mình, chi phí vận chuyển do người gửi chi trả + Các đầu tổng phân phối có trách nhiệm tiếp nhận hàng lỗi và gửi về văn phòng công ty ghi rõ số lượng, ngày gửi để được bảo hành sản phẩm. Lưu ý: máy rửa mặt Laco gửi về bắt buộc cần có thông tin người gửi</p>
            <div class="blog-share text-center mb30 mt30">
                <div class="is-divider medium"></div>
                <a href="">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#Facebook"></use>
                    </svg>
                </a>
                <a href="">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#Twitter"></use>
                    </svg>
                </a>
                <a href="">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#twitter2"></use>
                    </svg>
                </a>
            </div>

            <div class="list-article_item">
                <div class="entry-meta flex justify-center">  
                    This entry was posted in Tin tức and tagged bảo hành máy rửa mặt laco, máy rửa mặt laco.
                </div>
            </div>

            <div id="respond" class="comment-respond clearfix ">
                <h3 id="reply-title" class="comment-reply-title">Trả lời</h3>
                <p>Email của bạn sẽ không được hiển thị công khai.</p>
                <div class="form-default">
                    <div class="form-group">
                        <label for="">Bình luận</label>
                        <textarea type="" class="form-control" style="height: 100px;"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Tên</label>
                                <input type="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Trang web</label>
                                <input type="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="mb10 mt10">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="">
                            <span>Lưu tên của tôi, email, và trang web trong trình duyệt này cho lần bình luận kế tiếp của tôi.</span>
                        </label>
                    </div>
                    <button type="submit" class="btn-green btn">Phản hồi</button>
                </div>
             </div>
            
        </div>
        <div class="col-lg-3 post-sidebar mb30">
            <div class="box-category mb20">
                <span class="widget-title "><span>Latest Posts</span></span>
                <div class="is-divider small"></div>
                <ul class="recent-blog-posts clearfix">
                    <li>
                        <div class="badge-inner">
                            <div class="date">08</div>
                            <div>12</div>
                        </div>
                        <h3><a href="#">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</a></h3>
                    </li>
                    <li>
                        <div class="badge-inner">
                            <div class="date">08</div>
                            <div>12</div>
                        </div>
                        <h3><a href="#">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</a></h3>
                    </li>
                    <li>
                        <div class="badge-inner">
                            <div class="date">08</div>
                            <div>12</div>
                        </div>
                        <h3><a href="#">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</a></h3>
                    </li>
                    <li>
                        <div class="badge-inner">
                            <div class="date">08</div>
                            <div>12</div>
                        </div>
                        <h3><a href="#">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</a></h3>
                    </li>
                    <li>
                        <div class="badge-inner">
                            <div class="date">08</div>
                            <div>12</div>
                        </div>
                        <h3><a href="#">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</a></h3>
                    </li>
                </ul>
            </div>
            <div class="box-category mb20">
                <span class="widget-title "><span>RECENT COMMENTS</span></span>
                <div class="is-divider small"></div>
                <ul class="recent-blog-posts clearfix">
                    <li>
                        <h3><a href="#">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Phụ nữ hiện đại và việc cân bằng giữa công việc – gia đình</a></h3>
                    </li>
                    
                </ul>
            </div>
            <div class="box-category mb20">
                <span class="widget-title "><span>CHuyên mục</span></span>
                <div class="is-divider small"></div>
                <ul class="recent-blog-posts clearfix">
                    <li>
                        <h3><a href="#">Cẩm nang làm đẹp <span style="color:#777">(10)</span></a></h3>
                    </li>
                    <li>
                        <h3><a href="#"><strong>Tin tức </strong><span style="color:#777">(10)</span></a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>





    <!--Footer-->
    <footer class="footer clearfix">
        <div class="container">
            <div class="widget-title"><span>Mỹ phẩm Hữu Cơ Laco</span></div>
            <div class="text-center mb30">
                <img src="images/graphics/logo-white.png">
            </div>
            <div class="text-center mb30">
                Sản phẩm mỹ phẩm của Laco được sản xuất 100% tại Việt Nam, với các nhà máy đạt tiêu chuẩn sản
                xuất mỹ phẩm được sở y tế cấp phép. Toàn bộ sản phẩm đều hướng đến thiên nhiên, an toàn hiệu quả cho
                người sử dụng và đã được sở y tế cấp phép lưu hành trước khi đưa ra thị trường.Website bán hàng
                CHÍNH HÃNG và DUY NHẤT các sản phẩm của Laco được vận hành bởi team Laco.vn<br>
                Chịu trách nhiệm nội dung: GDKD Nguyễn Thị Thanh Hương<br>
                Điện thoại: 02422635353 / 0965092353<br>
                Địa chỉ kho hàng: Tòa B6A KĐT Nam Trung Yên, Cầu Giấy, Hà Nội<br>
                Liên kết nhanh: <a href="https://laco.vn/san-pham/may-rua-mat-laco-luxury/">Máy rửa mặt laco
                    luxury</a>
            </div>
        </div>
        <div class="don-vi">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb20">
                        <div class="widget-title"><span>ĐƠN VỊ CHỦ QUẢN LACO.VN</span></div>
                        <div class="textwidget">
                            <p></p>
                            <center>CÔNG TY TNHH SIÊU THẢO DƯỢC</center>
                            <p></p>
                            <p></p>
                            <center>Mã số doanh nghiệp: 2601022530<br>
                                Đăng ký lần đầu ngày 14 tháng 1 năm 2019<br>
                                Trụ sở chính: Khu 1, Xã Yên Kỳ, Huyện Hạ Hòa, Tỉnh Phú Thọ, Việt Nam<br>
                                Email: sieuthaoduocltd@gmail.com</center>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-4 mb20">
                        <div class="widget-title"><span>ĐƠN VỊ CHỊU TRÁCH NHIỆM SẢN PHẨM</span></div>
                        <div class="textwidget">
                            <p></p>
                            <center>CÔNG TY CỔ PHẦN QUỐC TẾ LACO</center>
                            <p></p>
                            Mã số doanh nghiệp: 010774580029<p></p>
                            <p>Đăng ký lần đầu ngày 14 tháng 3 năm 2017</p>
                            <p>Số 14 khu GĐ Văn công Quân Đội, phố Mai Dịch, Phường Mai Dịch, Quận Cầu Giấy, Thành Phố
                                Hà Nội, Việt Nam</p>
                            <p class="text-center"><a href="" target="_blank" rel="noopener"><img class="aligncenter "
                                        src="https://laco.vn/wp-content/uploads/2020/07/logoSaleNoti.png" alt=""
                                        width="200" height="76"></a></p>
                        </div>
                    </div>
                    <div class="col-md-4 mb20">
                        <div class="widget-title"><span>THÔNG TIN HỮU ÍCH</span></div>
                        <ul class="menu">
                            <li class="menu-item"><a href="">Hướng dẫn mua hàng và vận chuyển</a></li>
                            <li class="menu-item"><a href="">Hướng dẫn thanh toán</a></li>
                            <li class="menu-item"><a href="">Chính sách đổi trả hàng</a></li>
                            <li class="menu-item"><a href="">Cam kết bán hàng</a></li>
                            <li class="menu-item"><a href="">Chính sách bảo mật thông tin</a></li>
                            <li class="menu-item"><a href="">Điều khoản</a></li>
                            <li class="menu-item"><a href="">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                Copyright 2020 © <strong>LACO.VN</strong>
            </div>
        </div>

    </footer>
    <!--End Footer-->


    <!--Back to top-->
    <a href="javascript:;" id="to_top">
        <svg class="icon-svg">
            <use xlink:href="images/icons/icon.svg#arrow01"></use>
        </svg>
    </a>
    <div class="mask-content"> </div>
    <div class="close-show">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </div>
    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/svgxuse.js"></script>
    <script type="text/javascript" src="js/css-vars-ponyfill.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    


    <div class="clearfix"></div>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 350) {
                $('.has-sticky').addClass('down');
            } else {
                $('.has-sticky').removeClass('down');
            }
        });
        $(document).ready(function(){
            var quantitiy=0;
            $('.quantity-right-plus').click(function(e){
                    e.preventDefault();
                    var quantity = parseInt($('#quantity').val());
                    $('#quantity').val(quantity + 1);
                    
                });
                $('.quantity-left-minus').click(function(e){
                    e.preventDefault();
                    var quantity = parseInt($('#quantity').val());
                        if(quantity>0){
                        $('#quantity').val(quantity - 1);
                }
            });
    
        });
    </script>
</body>

</html>